# IBM Capstone project

## Introduction

In this project we will explore city of San Francisco. First we will define most popular restaurant category and then we will try to find areas that are lacking the selected category, wich can be an opportunity to open a new venue.

Target audience for this report are anyone who is interested in opening a new reustaurant, but not sure what kind of and in with neighborhood.

## Data

We will use freely available data from Wiki to determine the list of neighbourhoods in San Francisco. 

Next we well use geocoder to determine geospatial coordinates of each neighbourhood.

Given rather strict limit from Foursquare API, we will use only information avalible with regular access and grab list of venues for given neighbourhoods (including venue id, name, category, lattitude and longitude). Also we will grab from Foursquare the amount of likes for each venue. For our purposes we will consider amount of likes to indicate popularity of venues.

After extracting all data we will have data frame to proceed on with information needed.

In [3]:
url = 'https://raw.githubusercontent.com/aka-tori/Coursera_Capstone/master/sfv.csv'
sfv = pd.read_csv(url)
sfv.drop('Unnamed: 0', axis=1, inplace=True)
sfv.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue id,Venue Latitude,Venue Longitude,Venue Category,likes
0,Nob Hill,37.79336,-122.41787,Acquerello,3fd66200f964a52013ed1ee3,37.791669,-122.421407,Italian Restaurant,82
1,Inner Sunset,37.76211,-122.46886,Ebisu,3fd66200f964a52017ed1ee3,37.764354,-122.466358,Sushi Restaurant,264
2,Jackson Square,37.79708,-122.39841,Slanted Door,3fd66200f964a52018ed1ee3,37.796222,-122.393895,Vietnamese Restaurant,1200
3,South Park,37.78145,-122.39386,Fringale,3fd66200f964a5201bed1ee3,37.778731,-122.397105,French Restaurant,60
4,Russian Hill,37.80203,-122.41963,Gary Danko,3fd66200f964a52025ee1ee3,37.805751,-122.420488,New American Restaurant,293